<!-- Alerts -->
  <div class="notification notification-{{notification.type}}" role="alert" ng-repeat='notification in notifications' >
    <div class='row'>
      <div class='col-xs-8 col-xs-offset-2'>
        <strong>{{ notification.title }}</strong> {{ notification.message }}
      </div>
      <div class='col-xs-1'>
        <button type="button" ng-click='closeNotification($index)'><span>&times;</span><span class="sr-only">Close</span></button>
      </div>
    </div>
  </div>
<!-- End Alerts -->